@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply text-body;
    }
    
    @screen lg { /* applying font size for lg breakpoint */
      body {
        @apply text-body-lg;
      }
    }
  }

:root {
    @apply [--background:#ffffff] [--foreground:#171717] [--orange:#fe4119] [--black:#1b1b1b] [--gray:#e5e7eb];
}

* {
    @apply transition-all duration-300;
}

.secao-3 {
    height: fit-content;
    padding-block: 60px;
    padding-top: 30px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f7f7;
}

.secao-3 h1 {
    font-weight: 700;
    color: var(--orange);
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
}

.section-4 {
    height: 50dvh;
}

.section-7 {
    height: 100dvh;
    flex-direction: row-reverse;
}

@media (min-width: 1200px) {
    *{
        @apply text-body-lg;
    }
    
    .sirImg {
        width: 745px;
    }

    .secao-2 {
        @apply flex-row-reverse justify-center items-center gap-2.5 h-[500px];
    }
    .ladyTyping {
        height: 100%;
    }

    .module-wrapper {
        flex-direction: row;
        &:nth-child(3),&:nth-child(5){
            flex-direction: row-reverse;
        }
        width: 80%;
    }
}
